fastapi>=0.110.0
uvicorn>=0.27.1
scikit-learn==1.8.0
spacy>=3.7.2
pandas>=2.2.1
pydantic>=2.6.3
python-multipart>=0.0.18
pdfplumber>=0.11.0
passlib[bcrypt]>=1.7.4
python-jose[cryptography]>=3.3.0
numpy>=1.26.4
joblib>=1.3.0
python-json-logger>=2.0.7
fpdf
httpx>=0.27.0
transformers>=4.38.2
torch>=2.2.1
